body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; /* Tres columnas: izquierda, centro, derecha */
    gap: 20px; /* Espacio entre columnas */
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

/* Columna izquierda: Detalles del juego */
.left-column {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

.left-column h2 {
    margin-top: 0;
}

/* Columna central: Juego de Tetris */
.center-column {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 10px solid #0c64b8;
}

canvas#tetris {
    border: 5px solid #fff;
}

/* Columna derecha: Próxima pieza y descripciones */
.right-column {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
}

.right-column h2 {
    margin-top: 0;
}

canvas#next-piece {
    border: 2px solid #fff;
    margin-bottom: 20px;
}

#piece-description {
    font-size: 14px;
}

#score {
    margin-top: 20px;
    font-size: 24px;
}

#render-mode {
    margin-top: 10px;
    padding: 5px;
    font-size: 16px;
}


canvaI {
    color: #FF0D72; /* I red */
}
canvaO {
    color: #0DC2FF; /* O lightblue */
}
canvaT {
    color: #0DFF72; /* T green */
}
canvaL {
    color: #F538FF; /* L purple */
}
canvaJ {
    color: #FF8E0D; /* J orange */
}
canvaS {
    color: #FFE138; /* S yellow */
}
canvaZ {
    color: #3877FF; /* Z blue */
}